body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle,#dfecee, #de95d1 );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartbody{
    width: 50%;
    height: 85%;
    background-color: #ecf2f4f7;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #6a2b6833;
}

.formheader
   {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formtitle
   {
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
}

.deleteall
{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.itemslist{
    margin: auto;
    width: 90%;
    height: 30%;
    display: grid;
    align-items: center;
}

.workdress{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.imgcontainer1{
    width: 15%;
    text-align: center;
}
   
.description{
    height: 100%;
}
   
.title{
    
    line-height: 10px;
    font-size: 15px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}
   
.size{
    line-height: 10px;
    font-size: 10px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
}

.counter{
    padding-bottom: 20px;
    width: 15%;
    display: flex;
    justify-content:space-between;
    gap: 10px;
    align-items:center;
}

.add{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count{
    font-size: 15px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #200707;
}

.price{
    height: 100%;
    text-align: right;
 
}

.amount{
    padding-top: 20px;
    font-size: 20px;
    font-family:'Open Sans';
    font-weight: 600;
    color: #202020;
}

.deleteitem{
    padding-top: 0px;
    font-size: 10px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

hr{
    width: 75%;
    float: right;
}

.sumup{
    display: flex;
    justify-content:space-between;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}

.Subtotal{
    margin-left:35% ;
}

button{
    margin-top: 20px;
    width: 150px;
    margin-left: 74%;
    border-radius: 5px;
}